{include file="public/head"/ title="角色编辑"}
<body>
<article class="page-container">
	<form action="{:url($data['config']['edit']['url'])}" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data['name']}" placeholder="" id="roleName" name="name">
				<input type="hidden" class="input-text" value="{$data['id']}" placeholder="" id="roleName" name="id">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$data['remark']}" placeholder="" id="" name="remark">
			</div>
		</div>
			<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">状态：</label>
			<div class="formControls col-xs-8 col-sm-9">

	<input type="radio" name="state" value="1" {if condition="$data['state'] eq 1"} checked="checked" {/if}/>正常
			<input type="radio" name="state" value="0" {if condition="$data['state'] eq 0"} checked="checked" {/if}/>禁用
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
			{volist name="menu" id="vo"}
<dl class="permission-list">
					<dt>
						<label>
						<input type="checkbox" value="{$vo['id']}"  name="access_ids[]" id="user-Character-0" {if condition="in_array($vo['id'],$data['access_id'])"} checked="checked"{/if}>
							{$vo['title']}</label>
					</dt>
			{volist name="$vo['son']" id="voo"}
					<dd>
						<dl class="cl permission-list2">
							<dt>
								<label class="">
									<input type="checkbox" value="{$voo['id']}" name="access_ids[]" id="user-Character-0-0" {if condition="in_array($voo['id'],$data['access_id'])"} checked="checked"{/if}>
									{$voo['title']}</label>
							</dt>
							<dd>
{volist name="$voo['son']" id="vooo"}
								<label class="">
									<input type="checkbox" value="{$vooo['id']}" name="access_ids[]" id="user-Character-0-0-0" {if condition="in_array($vooo['id'],$data['access_id'])"} checked="checked"{/if}>
									{$vooo['title']}</label>
{/volist}
							</dd>
						</dl>
					</dd>
		{/volist}
		</dl>
{/volist}
</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/js"/}
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});

	$("#form-admin-role-add").validate({
		rules:{
			name:{
				required:true,
			},
			remark:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({success: function(data){
				if(data.code=='200'){
					layer.msg(data.msg,{icon:1,time:1*1000},function(){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					});
				}else{
					layer.msg(data.msg,{icon:5});

				}
				 $(form).resetForm(); // 提交后重置表单
			}});

		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>